<ion-split-pane  contentId="adminContent">

  <ion-menu  side="start" menuId="mainMenu" contentId="adminContent" class="fondomenu" color="a">
    <ion-header >
      <!-- <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar> -->
      <ion-toolbar color="A" class="colormenus">

        <img class="avatar" [src]="'http://localhost:8000' + proveedor.foto" alt="Avatar" />
        <h4 class="name">{{ proveedor.nombre }} <br> {{ proveedor.apellido }} </h4>
      </ion-toolbar>
    </ion-header>

    <ion-content class="fondodelmenu" color="a" >
      <ion-list color="a" class="menu-button">
        <ion-item color="a" class="coloritem" (click)="setSection('dashboard')">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item color="a" class="coloritem" (click)="setSection('Productos')" >
          <ion-icon slot="start" name="flower-outline"></ion-icon>
          <ion-label>Productos</ion-label>
        </ion-item>
        <ion-item color="a" class="coloritem" (click)="setSection('Perfil')">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item color="a" class="coloritem" (click)="onLogout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content id="adminContent" class="main-content">
    <ion-header>
      <ion-toolbar color="A" class="colormenus">
        <ion-menu-button slot="start"></ion-menu-button> <!-- Este es el botón para abrir el menú -->
        <ion-title class="titulo">Mi espacio</ion-title>
      </ion-toolbar>
    </ion-header>
    <div *ngIf="currentSection === 'dashboard'">
      <div class="bigimage">
        <ion-grid>
          <ion-row>
            <ion-col class="centrar">
              <div class="titular">
                Dashboard
              </div>
            </ion-col>
          </ion-row>
          <p>Aquí puedes mostrar estadísticas, gráficos, y otros resúmenes.</p>
        </ion-grid>
      </div>
    </div>

    <div *ngIf="currentSection === 'Productos'">
      <div class="bigimage">
        <ion-grid>
          <ion-row>
            <ion-col class="centrar">
              <div class="titular">
                Gestión de Productos
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center" *ngIf="products.length > 0; else noProducts">
            <ion-col size="12" size-md="6" size-lg="5.5" *ngFor="let product of products">
              <ion-card *ngIf="isEditMode == false" class="container">
                <div class="card-body">
                  <img *ngIf="product.imagen_producto"
                       [src]="'http://localhost:8000' + product.imagen_producto"
                       class="profile-image"
                       alt="Foto del producto">
                  <img *ngIf="!product.imagen_producto"
                       src="assets/images/descarga.jpeg"
                       class="profile-image"
                       alt="Imagen por defecto">
                </div>

                <ion-card-content class="profile-stats" style="font-size: 20px;">
                  <div class="">
                    {{ product.nombre_producto }}
                  </div>

                  <div class="card-section">
                    Precio: {{ product.precio | currency }}
                  </div>

                  <div >
                    <ion-button fill="outline" (click)="editar(product.codigo_producto)">Editar</ion-button>
                    <ion-button color="danger" (click)="eliminar(product.codigo_producto)">Eliminar</ion-button>
                  </div>
                </ion-card-content>
              </ion-card>


            </ion-col>
          </ion-row>
          <ng-template #noProducts>
            <p>No hay productos para mostrar.</p>
          </ng-template>
          <ion-row>
            <ion-card *ngIf="isEditMode == true && productoSeleccionado">
              <ion-card-header>
                <ion-card-title>
                  Editar producto {{ productoSeleccionado }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form [formGroup]="editarForm" (ngSubmit)="putProducto(productoSeleccionado)">
                  <ion-item>
                    <ion-label position="stacked">Nombre del Producto</ion-label>
                    <ion-input formControlName="nombre_producto" name="nombre_producto" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Precio</ion-label>
                    <ion-input formControlName="precio" type="number" name="precio" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Imagen del Producto</ion-label>
                    <input type="file" accept=".png, .jpg, .jpeg, .bmp" (change)="onFileSelected($event)">
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Categoría</ion-label>
                    <ion-select formControlName="id_categoria" name="id_categoria" required>
                      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre_categoria }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-button expand="full" type="submit">Editar producto</ion-button>
                  <ion-button expand="full" (click)="desEditar()">Dejar de editar</ion-button>
                </form>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-card  style="background: rgb(114, 191, 120);" color="a" *ngIf="isEditMode == false">
            <ion-card-header>
              <ion-card-title style="color: black;">Agregar Producto</ion-card-title>
            </ion-card-header>
            <ion-card-content  style="background: rgb(114, 191, 120);" color="a">
              <form [formGroup]="productoForm" (ngSubmit)="postProducto()">
                <ion-item  style="background: rgb(114, 191, 120); color: black;" color="a">
                  <ion-label  position="stacked">Nombre del Producto</ion-label>
                  <ion-input class="formulario" color="a" formControlName="nombre_producto" name="nombre_producto" required></ion-input>
                </ion-item>
                <ion-item  style="background: rgb(114, 191, 120);color: black;" color="a">
                  <ion-label position="stacked">Precio</ion-label>
                  <ion-input formControlName="precio" type="number" name="precio" required></ion-input>
                </ion-item>
                <ion-item  style="background: rgb(114, 191, 120);color: black;" color="a">
                  <ion-label position="stacked">Descripción</ion-label>
                  <ion-textarea formControlName="descripcion" (ionInput)="contarCaracteres()" maxlength="300" placeholder="Escribe la descripción aquí..."></ion-textarea>
                </ion-item>
                <ion-text  style="background: rgb(114, 191, 120);color: black;" color="a" color="medium">
                  {{ descripcion.length }} / 300 caracteres
                </ion-text>
                <ion-item  style="background: rgb(114, 191, 120);color: black;" color="a">


                  <ion-label position="stacked"></ion-label>
                  <input type="file" accept=".png, .jpg, .jpeg, .bmp" (change)="onFileSelected($event)">
                </ion-item>
                <ion-item  style="background: rgb(114, 191, 120);color: black;" color="a">
                  <ion-label position="stacked">Categoría</ion-label>
                  <ion-select formControlName="id_categoria" name="id_categoria" required>
                    <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nombre_categoria }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-button class="btn btn-primary" expand="full" type="submit">Agregar Producto</ion-button> -->
                <button class="btn btn-primary" >Agregar al carrito</button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </div>
    </div>

    <div *ngIf="currentSection === 'Perfil'">
      <div class="bigimage">
        <ion-grid>
          <ion-row>
            <ion-col class="centrar">
              <div class="titular">
                Mi Cuenta
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input [(ngModel)]="proveedor.nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Apellido</ion-label>
                <ion-input [(ngModel)]="proveedor.apellido"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Correo Electrónico</ion-label>
                <ion-input [(ngModel)]="proveedor.correo_electronico"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Direccion</ion-label>
                <ion-input [(ngModel)]="proveedor.direccion"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Foto</ion-label>
                <input type="file" (change)="actualizarFoto($event)" accept="image/*" />
              </ion-item>
            </ion-list>
            <ion-button expand="full" (click)="actualizarPerfil()">Guardar Cambios</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>
</ion-split-pane>
