<ion-content [fullscreen]="true">
  <div class="bigimage">
    <div class="container-fluid">
      <div class="row">

        <!-- Columna izquierda para el formulario -->
  <div class="col-md-4 m-0 p-0 mt-5">
  <div class="form-container">
    <form [formGroup]="HistorialForm" (ngSubmit)="verificarHistorial()" novalidate>
      <h2 class="mb-4 titular text-center">Consulta Historial de Compras</h2>

      <div class="form-group mb-3">
        <label class="label mb-2">Ingrese su RUT</label>
        <ion-input formControlName="rut" placeholder="Ej: 12345678" class="form-control" [(ngModel)]="rut"></ion-input>
        <div *ngIf="campo('rut')?.invalid && campoTocado('rut')" class="text-danger">
          El RUT es obligatorio y debe ser válido.
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="label mb-2">Ingrese su contraseña</label>
        <ion-input formControlName="contrasena" placeholder="contraseña" class="form-control" [(ngModel)]="contrasena" [type]="showPasswordHistorial ? 'text' : 'password'">
          <ion-icon
            [name]="showPasswordHistorial ? 'eye-off' : 'eye'"
            slot="end"
            (click)="togglePasswordVisibility('vercontraseña')"
            style="cursor: pointer;">
          </ion-icon>
        </ion-input>
        <div *ngIf="campo('contrasena')?.invalid && campoTocado('contrasena')" class="text-danger">
          La contraseña es obligatoria
        </div>
      </div>

      <button class="btn btn-primary" (click)="consultarHistorial()">Consultar Historial</button>
    </form>
  </div>
</div>

        <!-- Columna derecha para la tabla de historial de compras -->
        <div class="col-md-8">
          <div *ngIf="orders && orders.length > 0" class="history-container mt-4">
            <h2 class="text-center titular ">Historial de Compras</h2>
            <ion-grid>
              <ion-row class="table-header">
                <ion-col>Fecha de Compra</ion-col>
                <ion-col>Cliente</ion-col>
                <ion-col>Total</ion-col>
                <ion-col>Estado de Pago</ion-col>

                <ion-col>Productos</ion-col>
              </ion-row>

                            <ion-row *ngFor="let order of orders; let i = index"
                      [ngClass]="{'table-row-even': i % 2 === 0, 'table-row-odd': i % 2 !== 0}">
                <ion-col>{{ order.orden_date | date: 'dd/MM/yyyy HH:mm' }}</ion-col>
                <ion-col>{{ rut }}</ion-col>
                <ion-col>{{ order.total | currency }}</ion-col>
                <ion-col>{{ order.pagado ? 'Pagado' : 'Rechazado' }}</ion-col>
                <ion-col>
                  <ul>
                    <li *ngFor="let item of order.items">
                      <strong></strong> {{ item.nombre }}, Cantidad: {{ item.cantidad }}
                    </li>
                  </ul>
                </ion-col>
              </ion-row>

            </ion-grid>
          </div>

          <!-- Mensaje cuando no hay órdenes -->
          <div style="color: black; font-size: 30px; font-weight: bold;" *ngIf="orders && orders.length === 0" class="text-center mt-4">
            <p>No tienes órdenes en tu historial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="float-end">
        <a href="#" class="back-to-top">Volver arriba</a>
      </p>
      <p class="footer-text">
        &copy; 2024 <strong>GreenMarket</strong> Portafolio.
        <a href="#">Privacidad</a> &middot;
        <a href="#">Términos</a>
      </p>
    </div>
  </footer>
</ion-content>
